[submodule "future/firmware/python3-rpi-rc522/pi-rc522"]
	path = firmware/python3-rpi-rc522/pi-rc522
	url = https://github.com/ondryaso/pi-rc522.git
[submodule "future/firmware/ESP32-NeoPixel-WS2812-RMT"]
	path = firmware/ESP32-NeoPixel-WS2812-RMT
	url = https://github.com/JSchaenzle/ESP32-NeoPixel-WS2812-RMT
[submodule "future/firmware/esp32-uuid"]
	path = firmware/esp32-uuid
	url = https://github.com/typester/esp32-uuid
[submodule "future/firmware/writer/lv_port_esp32"]
	path = firmware/writer/lv_port_esp32
	url = https://github.com/lvgl/lv_port_esp32
