<html>
  <body>
    <p>Bin #<%= @bin.id %></p>
    <hr/>
    <% if @bin.inventory_item %>
      <p>Contents:</p>
      <% if @bin.inventory_item.part_number %>
        <p><%= @bin.inventory_item.part_number %></p>
      <% end %>
      <p><%= @bin.inventory_item.name %></p>
      <% if @bin.inventory_item.description %>
        <hr/>
        <p><%= @bin.inventory_item.description %></p>
      <% end %>
    <% else %>
      This bin is empty right now. Head on over to Heimdall and create an inventory item that's connected to this bin if you'd like to store something in it.
    <% end %>
    <hr/>
    More functionality coming soon! Eventually this page will look a whole lot better, and you'll be able to search for
    items, log when you've used an item, and pay for items in the store as part of your membership. Stay tuned!
  </body>
</html>
